@import 'https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap';

:root {
    --socials-move: 50px;
}

html,body {
    min-height: 100%;
    font-family: 'Ubuntu Mono', monospace;
    overflow:hidden;
}

#main {
    background-color: #808080;
}

img {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 100%;
}

#profile-picture {
    border-radius: 50%;
    border-style: solid;
    border-color: #501ed1;
    align-items: center;
    width: 200px;
    height: 200px;
}

#centred-title {
    text-align: center;
    font-size: 60px
}

.sidebar{
    color: #f1f1f1;
    background-color:#1e1e1e;
    height: 100%;
    border-left: 0%;
}

#sidebar-desc {
    text-align: center;
}

.sidebar hr {
    height: 2px;
    margin-left: 7%;
    margin-right: 7%;
}

.sidebar a {
    text-align: center;
    text-decoration: none;
    display:block;
    color: #a39f9f;

}

 ul {
      list-style-type: none;
}

.accordion {
    width: 100%;
    max-width: 220px;
    text-align: center;
    display: block;
    background: #1e1e1e;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #a39f9f;
    font-size: 14px;

    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.submenu {
    display: none;
    background: #1e1e1e;
    font-size: 14px;
}

.submenu a {
    display: block;
    text-align:center;
    text-decoration: none;
    color: #a39f9f;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    color: #FFF;
}