@import 'https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap';

html,body {
    min-height: 100%;
    font-family: 'Ubuntu Mono', monospace;
}

#main {
    background-color: #808080;
}

img {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 100%;
}

#profile-picture {
    border-radius: 50%;
    border-style: solid;
    border-color: #501ed1;
    align-items: center;
    width: 200px;
    height: 200px;
}

#centred-title {
    text-align: center;
    font-size: 60px
}

.sidebar{
    color: #f1f1f1;
    background-color:#1e1e1e;
    height: 100%;
    border-left: 0%;
}

#sidebar-desc {
    text-align: center;
}

.sidebar hr {
    height: 2px;
    margin-left: 7%;
    margin-right: 7%;
}

.sidebar a {
    text-align: center;
    text-decoration: none;
    display: block;
}

#blogs-button {
    text-align: center;
    display: block;
}

#blogs-content {

}

#main hr {
    opacity: 0%;
}

