@import 'https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap';

html,body {
    min-height: 100%;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #f1f1f1;
}

img {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 100%;
}

#centred-title {
    text-align: center;
    font-size: 60px
}

.sidebar{
    color: #f1f1f1;
    background-color:#1e1e1e;
    height: 100%;
    border-left: 0%;
}